<section class="spotlight">
  <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">Media Spotlight</span>
    <a class="spotlight__link-to" href="/works/593">Harry Potter and the Sorcerer's Stone</a> by J.K. Rowling
  </h2>
  <p class="spotlight__description">
    23 votes - An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself, his family and the terrible evil that haunts the magical world.
  </p>
</section>

<hr class="root__hr">

<section class="top-ten__container">
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Movies
  </h2>
  <ul class="list-group top-ten__list">
    <li class="list-group-item">
      <h4>
        <a href="/works/593">Harry Potter and the Sorcerer's Stone</a>
        <small class="top-ten__creator">by J.K. Rowling</small>
      </h4>
      <p>23 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/596">your name.</a>
        <small class="top-ten__creator">by Makoto Shinkai</small>
      </h4>
      <p>22 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/595">THE VOLLEYBALL ANIME</a>
        <small class="top-ten__creator">by YA</small>
      </h4>
      <p>4 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/613">Parasite</a>
        <small class="top-ten__creator">by Bong Joon-ho</small>
      </h4>
      <p>2 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/606">Howl's Moving Castle</a>
        <small class="top-ten__creator">by Hayao Miyazaki</small>
      </h4>
      <p>2 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/594">The Half of It</a>
        <small class="top-ten__creator">by Alice Wu</small>
      </h4>
      <p>2 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/601">Forrest Gump</a>
        <small class="top-ten__creator">by Robert Zemeckis</small>
      </h4>
      <p>2 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/627">The Great Gatsby</a>
        <small class="top-ten__creator">by Baz Luhrmann</small>
      </h4>
      <p>1 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/604">Back to the Future </a>
        <small class="top-ten__creator">by Robert Zemeckis</small>
      </h4>
      <p>1 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/600">Titanic </a>
        <small class="top-ten__creator">by Someone </small>
      </h4>
      <p>1 votes</p>
    </li>
  </ul>
  <!-- <a href="/works.movies">View More Movies</a> -->
</section>

<section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Books
  </h2>
  <ul class="list-group top-ten__list">
    <li class="list-group-item">
      <h4>
        <a href="/works/592">Huggy Star</a>
        <small class="top-ten__creator">by Nigel Lesch DVM</small>
      </h4>
      <p>3 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/597">Architecture of the Cocktail</a>
        <small class="top-ten__creator">by Amy Zavato</small>
      </h4>
      <p>1 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/605">Howl's Moving Castle</a>
        <small class="top-ten__creator">by Diana Wynne Jones</small>
      </h4>
      <p>1 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/590">Hello Town</a>
        <small class="top-ten__creator">by Laury Walter</small>
      </h4>
      <p>1 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/581">Melty Breaker</a>
        <small class="top-ten__creator">by Montana Dickinson Sr.</small>
      </h4>
      <p>0 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/585">Blacktop Enlightenment</a>
        <small class="top-ten__creator">by Seamus D'Amore</small>
      </h4>
      <p>0 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/623">1984</a>
        <small class="top-ten__creator">by George Orwell</small>
      </h4>
      <p>0 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/570">Joe Treat</a>
        <small class="top-ten__creator">by Blaise Lesch</small>
      </h4>
      <p>0 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/622">Dandelion Wine</a>
        <small class="top-ten__creator">by Ray Bradbury</small>
      </h4>
      <p>0 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/574">Summer Select</a>
        <small class="top-ten__creator">by Ms. Gwendolyn Ortiz</small>
      </h4>
      <p>0 votes</p>
    </li>
  </ul>
  <!-- <a href="/works.books">View More Books</a> -->
</section>

<section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Albums
  </h2>
  <ul class="list-group top-ten__list">
    <li class="list-group-item">
      <h4>
        <a href="/works/571">Kreb-Full-o Been ! </a>
        <small class="top-ten__creator">by Ms. Trevion Buckridge</small>
      </h4>
      <p>8 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/573">Major Cup</a>
        <small class="top-ten__creator">by lisa</small>
      </h4>
      <p>4 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/586">Express Extract</a>
        <small class="top-ten__creator">by Dorothy Jast I</small>
      </h4>
      <p>2 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/583">Goodbye Utopia</a>
        <small class="top-ten__creator">by Orion Spencer</small>
      </h4>
      <p>2 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/580">Major Equinox</a>
        <small class="top-ten__creator">by Queen Satterfield</small>
      </h4>
      <p>1 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/591">Blacktop Choice</a>
        <small class="top-ten__creator">by Casey Feil</small>
      </h4>
      <p>1 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/569">Blue Breaker</a>
        <small class="top-ten__creator">by Dr. Sarai Langosh</small>
      </h4>
      <p>0 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/631">The Wall</a>
        <small class="top-ten__creator">by </small>
      </h4>
      <p>0 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/626">Poolside</a>
        <small class="top-ten__creator">by </small>
      </h4>
      <p>0 votes</p>
    </li>
    <li class="list-group-item">
      <h4>
        <a href="/works/602">The Overstory</a>
        <small class="top-ten__creator">by Richard Powers</small>
      </h4>
      <p>0 votes</p>
    </li>
  </ul>
<!-- <a href="/works.albums">View More Albums</a> -->
</section>
