<h2>List of Works</h2>

<%= render partial: "work_list", locals: { action_name: ALBUM } %>
<%= render partial: "work_list", locals: { action_name: BOOK } %>
<%= render partial: "work_list", locals: { action_name: MOVIE } %>


<a class="btn btn-secondary" href="/">View top media</a>
<a class="btn btn-primary" href="/works/new">Add a new work</a>
