
<h2>List of Works</h2>

<%= render partial: "work_list", locals: { action_name: "album" } %>
<%= render partial: "work_list", locals: { action_name: "book" } %>
<%= render partial: "work_list", locals: { action_name: "movie" } %>


<a class="btn btn-secondary" href="/">View top media</a>
<a class="btn btn-primary" href="/works/new">Add a new work</a>
